@import "sprites.css";
.c-title {
  margin: 0;
  padding: 0;
  color: #fff;
}
.o-inline-blocks {
  display: flex;
  justify-content: space-around;
}
.o-inline-blocks__item {
  flex: 1;
}
.c-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: 'myriadpro-semibold';
  font-size: 22px;
  padding: 8.5px 10px;
  text-align: center;
  border: none;
  box-shadow: none;
  width: 100%;
  border-radius: 2px;
}
.c-btn--red {
  background-color: #b60808;
}
.c-btn--blue {
  background-color: #126bc5;
}
.c-form-text {
  display: block;
  text-decoration: none;
  color: #626262;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  padding: 14px 10px;
  text-align: center;
  border: none;
  box-shadow: none;
  width: 100%;
  border-radius: 2px;
}
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
<<<<<<< 4b1aa3ee8abdd4f4c3659288dc492a7e034544d4
=======
>>>>>>> Lp complete
.no-overflow {
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
}
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
=======
>>>>>>> version 0.1
=======
>>>>>>> Lp complete
.c-logo {
  background-repeat: no-repeat;
  background-position: 0 0;
}
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
<<<<<<< 4b1aa3ee8abdd4f4c3659288dc492a7e034544d4
.c-big-logo {
  background: url(../images/logo/big.png) no-repeat 0 0;
  width: 686px;
  height: 275px;
=======
.c-big-logo {
  background: url(../images/logo/big.png) no-repeat 25px 13px, url(../images/logo/trash.png) no-repeat;
  width: 686px;
  height: 189px;
>>>>>>> Lp complete
  z-index: 3000;
  position: relative;
}
.c-element {
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
=======
  transition: 2s ease-out;
>>>>>>> Lp complete
  background: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  pointer-events: none;
  will-change: transform;
  margin: -15px;
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
=======
  z-index: 1000;
>>>>>>> Lp complete
}
.c-element--triangle {
  background: url(../images/elements/triangle.svg);
  width: 17px;
  height: 21px;
}
.c-element--triangle-2 {
  background: url(../images/elements/triangle_2.svg);
  width: 20px;
  height: 20px;
}
.c-element--rectangle {
  background: url(../images/elements/rectangle.svg);
  width: 29px;
  height: 28px;
}
.c-list-services {
  padding-left: 107px;
}
.c-list-services__item {
  margin: 35px 0;
  position: relative;
}
.c-list-services__item:before {
  content: '';
  width: 34px;
  height: 43px;
  display: block;
  position: absolute;
  left: -60px;
  top: 20px;
  background: url(../images/n-1.svg) no-repeat top left;
}
.c-list-services__item--2 {
  padding-right: 40px;
}
.c-list-services__item--2:before {
  content: '';
  width: 44px;
  height: 58px;
  display: block;
  position: absolute;
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
  right: -10px;
=======
  right: 0px;
>>>>>>> Lp complete
  left: auto;
  top: 20px;
  background: url(../images/n-2.svg) no-repeat top left;
}
.c-list-services__item--3:before {
  content: '';
  width: 37px;
  height: 46px;
  display: block;
  position: absolute;
  left: -60px;
  top: -20px;
  background: url(../images/n-3.svg) no-repeat top left;
}
.c-list-services__item--4 {
  padding-right: 70px;
  background: url(../images/marker-2.svg) no-repeat 164px 31px;
}
.c-list-services__item--4:before {
  content: '';
  width: 44px;
  height: 51px;
  display: block;
  position: absolute;
  right: 36px;
  left: auto;
  top: -5px;
  background: url(../images/n-4.svg) no-repeat top left;
}
.c-list-services__item--42 {
  padding-right: 97px;
  background: url(../images/marker-2.svg) no-repeat 211px 31px;
}
.c-list-services__item--42:before {
  content: '';
  width: 44px;
  height: 51px;
  display: block;
  position: absolute;
  right: 36px;
  left: auto;
  top: -5px;
  background: url(../images/n-4.svg) no-repeat top left;
}
.c-video-pre {
  height: 285px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-video-pre__item {
  align-self: center;
}
.c-play {
  width: 77px;
  height: 77px;
  background: url(../images/elements/triangle.svg) no-repeat center center, #3c4144;
  border-radius: 50%;
  -webkit-box-shadow: -5px 15px 63px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 15px 63px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 15px 63px -13px rgba(0, 0, 0, 0.75);
  margin: 0 35px;
  cursor: pointer;
}
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
.s-services__arrow {
  padding: 0 30px;
  height: 1.2em;
  overflow: hidden;
  font-size: 20px;
  display: inline-block;
  position: relative;
  text-decoration: none!important;
  color: white;
  font-family: arial;
}
.s-services__arrow:hover span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.s-services__arrow span {
  position: relative;
  padding: 0 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.s-services__arrow span:before {
  position: absolute;
  width: 100%;
  color: #0878d5;
  left: 0;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
=======
>>>>>>> version 0.1
=======
>>>>>>> Lp complete
