<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
<<<<<<< 4b1aa3ee8abdd4f4c3659288dc492a7e034544d4
=======
>>>>>>> Lp complete
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic);
/* font-family: "CourierNewPSMT"; */
@font-face {
  font-family: 'CourierNewPSMT';
  src: url('../fonts/CourierNewPSMT.eot');
  src: local('☺'), url('../fonts/CourierNewPSMT.woff') format('woff'), url('../fonts/CourierNewPSMT.ttf') format('truetype'), url('../fonts/CourierNewPSMT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "CourierNewPS-BoldMT"; */
@font-face {
  font-family: 'CourierNewPS-BoldMT';
  src: url('../fonts/CourierNewPS-BoldMT.eot');
  src: local('☺'), url('../fonts/CourierNewPS-BoldMT.woff') format('woff'), url('../fonts/CourierNewPS-BoldMT.ttf') format('truetype'), url('../fonts/CourierNewPS-BoldMT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
<<<<<<< 1c5a18e0f1f90c94d4d8e08298782fd152913e90
=======
/* font-family: myriadpro-semibold; */
>>>>>>> version 0.1
=======
>>>>>>> Lp complete
