.s-main-wrapper {
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 2000;
}
.s-main-wrapper--overflow-y {
  overflow-y: hidden;
}
#elements {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1001;
}
.s-nav-top {
  padding: 32px 60px;
  z-index: 2000;
}
.s-nav-top__brand {
  width: 50%;
  letter-spacing: 3px;
  font-size: 16px;
  color: #efeff4;
}
.s-nav-top__menu {
  text-align: center;
}
.s-nav-top__link {
  font-size: 16px;
  color: #efeff4;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
.s-nav-top__link:link,
.s-nav-top__link:visited {
  font-size: 16px;
  color: #efeff4;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.s-nav-top__link--active,
.s-nav-top__link:hover,
.s-nav-top__link:focus {
  color: #8f8e94!important;
  text-decoration: none;
}
.s-nav-top__text {
  color: #efeff4;
}
.s-lp-content {
  padding: 66px 0 75px;
}
.s-lp-content__title {
  text-align: center;
}
.s-full-size {
  position: relative;
  height: 100%;
  width: 100%;
}
.s-index {
  width: 740px;
  margin: 130px auto 60px;
}
.s-index__logo-ic {
  margin: auto;
}
.s-index__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.9;
  color: #efeff4;
  letter-spacing: 3px;
  text-align: center;
  padding: 0 20px;
}
.s-contacts {
  padding: 30px 60px;
  text-transform: uppercase;
}
.s-contacts__info {
  padding-top: 120px;
}
.s-contacts__title {
  font-size: 16px;
  color: #fefefe;
  letter-spacing: 3px;
}
.s-contacts__value {
  font-size: 26px;
  color: #fefefe;
  margin-top: 12px;
  margin-bottom: 62px;
}
.s-body {
  background-image: url(../images/bg/bg.svg);
  background-color: #333333;
  position: absolute;
  width: 100%;
  height: 100%;
}
.s-body__title {
  margin-bottom: 14px;
}
.s-logo {
  background-image: url(../images/logo/tasma.svg);
  background-position: center center;
}
.s-services {
  font-family: "CourierNewPSMT";
}
.s-services__page {
  display: none;
  width: 900px;
  margin: auto;
  min-height: 600px;
  padding: 60px 100px 25px 60px;
  background: #fff;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.2), -8px -8px 16px 0 rgba(255, 255, 255, 0.1);
}
.s-services__page--active {
  display: block;
}
.s-services__page:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #fff;
  height: 100%;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  top: 10px;
  left: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  z-index: -1;
}
.s-services__page-head {
  background: url(../images/marker-1.svg) no-repeat 20px 47px;
}
.s-services__head {
  width: 900px;
  margin: auto;
  font-family: "Open Sans";
  padding: 50px 0 20px;
}
.s-services__arrow {
  position: relative;
}
.s-services__arrow:before {
  content: '';
  width: 44px;
  height: 23px;
  display: block;
  position: absolute;
  right: -50px;
  background: url(../images/back.png) no-repeat center right;
}
.s-services__arrow--left:before {
  transform: rotate(180deg);
  right: auto;
  left: -50px;
}
.s-services__title {
  font-family: "CourierNewPS-BoldMT";
  font-size: 16px;
  line-height: 1.3;
}
.s-services__text {
  font-family: "CourierNewPSMT";
  font-size: 16px;
  line-height: 1.3;
  margin-top: 3px;
}
.s-services__footer {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.s-services__video .o-inline-blocks__item {
  align-self: center;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: #030303;
}
.s-video-window {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  display: none;
}
.s-video-window--active {
  display: block;
}
.s-video-window__close {
  width: 100px;
  height: 100px;
  background: url(../images/x.png) no-repeat;
  background-size: contain;
  float: right;
  top: 10px;
  left: 10px;
  position: absolute;
  cursor: pointer;
}
