@import "vars";

// MAIN

.s-main-wrapper{
  padding: 0;
  margin: 0 auto;
  position: relative;
}

  // HEADER
  .s-head{
  }

  // CONTAINER
  .s-lp-content{
    padding: 66px 0 75px;

    &__title{
      text-align: center;
    }
  }

  // SECTIONS

    // First
    .s-first{
      &__title{
        margin-bottom: 14px;
      }
    }


    // Second

    // Third

    // Fourth
